Source: ros-rolling-robotiq-85-driver
Section: misc
Priority: optional
Maintainer: Stanley Innovation, Inc. <dev@stanleyinnovation.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-rolling-ament-copyright, ros-rolling-ament-flake8, ros-rolling-ament-pep257, ros-rolling-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-robotiq-85-driver
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-serial, ros-rolling-control-msgs, ros-rolling-rclpy, ros-rolling-robotiq-85-msgs, ros-rolling-sensor-msgs, ros-rolling-ros-workspace
Description: Drivers and nodes related to the Robotiq 85 Gripper
