Source: ros-rolling-robotiq-85-description
Section: misc
Priority: optional
Maintainer: Patrick Hussey <dev@stanleyinnovation.com>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-robotiq-85-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-joint-state-publisher, ros-rolling-robot-state-publisher, ros-rolling-rviz2, ros-rolling-urdf, ros-rolling-xacro, ros-rolling-ros-workspace
Description: Stanley Innovation Robotiq 85 Visual Models
